.inspirations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg_color2);
    padding: 5rem;
}
.explanations{
    padding: 2rem;
    width: 45%;
}
.explanations h2{
    font-family: "Montserrat Bold";
    font-size: 4rem;
    margin-bottom: 0;

}
.explanations p{
    width: 70%;
    color: var(--text_color2);
    font-family: "Montserrat SemiBold";
    opacity: 0.9;
    margin-bottom: 3rem;
}
.explanations button{
    background-color: var(--dark_yellow);
    color: var(--bg_color2);
    border: none;
    padding: 2rem 4rem;
    font-family: "Montserrat SemiBold";
}